<div class="dashboard_container">
    <iframe *ngIf="estructura" title="Panel Gerencial 11" src="https://panaserviceperu.sharepoint.com/sites/PlataformaGTH/SitePages/Estructura.aspx" frameborder="0" allowFullScreen="true"></iframe>
    <iframe *ngIf="dotacion" title="Panel Gerencial 11" src="https://panaserviceperu.sharepoint.com/sites/PlataformaGTH/SitePages/Dashboard.aspx" frameborder="0" allowFullScreen="true"></iframe>
    <iframe *ngIf="roster"  title="Panel Gerencial 11" src="https://panaserviceperu.sharepoint.com/sites/PlataformaGTH/SitePages/Roster.aspx" frameborder="0" allowFullScreen="true"></iframe>
    <iframe *ngIf="marcaciones" title="Panel Gerencial 11"  src="https://panaserviceperu.sharepoint.com/sites/PlataformaGTH/SitePages/Marcaciones.aspx" frameborder="0" allowFullScreen="true"></iframe>
</div>
