h2 {
    margin: 0;
}

.mat-table {
    margin-top: 10px !important;
    overflow-y: hidden;
    border-radius: 10px !important;
}

.mat-table tr {
    height: auto;
}

.legend-tag {
    border-radius: 5px;
    text-align: center;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #bbb #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 10px;
    border: 5px solid #ffffff;
  }

.proyecto-tab-icon {
    margin-right: 8px;
    margin-bottom: 2px;
}

.proyecto-card {
    background-color: transparent;
}


.mat-table {
    display: block;
    width: 100%;
    max-width: 1950px;
    margin-top: 20px;
    overflow-x: scroll;
    position: relative;
}

.iconInfo{
    margin-right: 16px;
}

/* .column_sticky{
    position: sticky;
    top: 0;
    z-index: 2;
} */

/* table {
    display: block;
    width: 100%;
    max-width: 1970px;
    margin-top: 20px;
    overflow-x: scroll;
    height: auto;
    position:relative;
} */

.sticky-column {
    display: block;
    height: 40px;
    line-height: 40px;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.mat-table-sticky{
    min-width: 50px;   
}

.leyendaEstadoLaboral{
    -webkit-animation: muestra 1s;
    animation: muestra 1s;

}

.scheduled-day {
    text-align: center;
}

.scheduled-day div {
    border-radius: 5px;
}

.scheduled-day div span {
    cursor: pointer;
}

@keyframes muestra{
    from { opacity: 0; }
    to   { opacity: 1; }
}

.leyendaTexto{
    padding-right: 10px;
}

.fechaRange{
    font-size: small;
}

.hidden {
    display: none;
  }

@media(max-width: 1250px){
    .proyecto-card{
        min-width: 1250px;
    }

    .mat-table {
        max-width: 1220px;
    }
}

@media(max-width: 1024px){
    .proyecto-card{
        min-width: 1024px;
    }

    .mat-table {
        max-width: 1000px;
    }
}

@media(max-width: 650px){

    .proyecto-card{
        min-width: 650px;
    }

    .mat-table {
        max-width: 620px;
    }
}

.leyenda-item {
    margin-bottom: 5px !important;
}

.danger-text{
    color: red;
    font-size: 0.82rem;
}

.cell-nro {
    top: 0px !important;
    z-index: 101 !important;
    left: 0px !important;
}

.cell-check {
    top: 0px !important;
    z-index: 101 !important;
    left: 46.3359px !important;
}

.cell-name {
    width: 250px !important;
    z-index: 101 !important;
    top: 0px !important;
    left: 86.3359px !important;
}

.cell-dni {
    text-align: center !important;
    z-index: 101 !important;
    top: 0px !important;
    left: 352.336px !important;
}

.rosterContainer{
    border-radius: 25px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.roster{
    margin: 10px;
    box-sizing: border-box;
}

.proyNom{
    font-weight: bolder;
    font-size: 25px;
    margin: 20px 25px 10px 25px;
}